In [21]:
# 워크샵 1번
n = 5
m = 9

In [22]:
# 정답
print((("*"*n+"\n")*m).rstrip())

*****
*****
*****
*****
*****
*****
*****
*****
*****

In [23]:
# 워크샵 2번
student = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [24]:
# 정답
stu_list = list(student.values())
print(sum(stu_list)/len(stu_list))

87.75

In [25]:
# 워크샵 3번
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [26]:
# 정답
set_blood = list(set(blood_types))
for blood in set_blood:
    print("{}형: {}명".format(blood, blood_types.count(blood)))

AB형: 3명
A형: 3명
O형: 3명
B형: 3명

# 홈워크 1번
'assert', 'break', 'class'

# 홈워크 2번

In [37]:
a = 0.1 * 3
b = 0.3

In [40]:
print(abs(a-b) <= 1e-10)

True

# 홈워크 3번

In [42]:
name = "철수"

In [44]:
print("안녕, %s야" %(name))
print(f"안녕, {name}야")
print("안녕, {}야".format(name))

안녕, 철수야
안녕, 철수야
안녕, 철수야

# 홈워크 4번

int('3.5') -> 정수가 아닌 수의 문자열은 int로 변환할 수 없다.

# 홈워크 5번

mutable : List, Dictionary, Set

immutable : String, Tuple, Range