# 모음 제거하기

> 다음 문장의 모음을 제거하여 출력하세요.
---
```
예시 입력)
"Life is too short, you need python"
```

```
예시 출력)
Lf s t shrt, y nd pythn
```

In [11]:
a = input()
# 아래에 코드를 작성하세요.
aeiou = ['a', 'e', 'i', 'o', 'u', 'A', "E", "I", "O", "U"]
for ae in aeiou:
    a = a.replace(ae, "")
print(a)

Life is too short, you need python
Lf s t shrt, y nd pythn

In [12]:
# 강사님 답안
vowel = ['a', 'e', 'i', 'o', 'u']
answer = ''

for i in a:
    if i not in vowel:
        answer += i
print(answer)

Lf s t shrt, y nd pythn

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 축약해서 나타내는 함수를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
```
```
예시 출력)
Alice B. C. Davis
```

In [40]:
name = input()
# 아래에 코드를 작성하세요.
name_list = name.split(" ")
for idx, one in enumerate(name_list):
    if idx == 0:
        print(one, end=" ")
    elif idx == len(name_list) - 1:
        print(one)
    else:
        name_list[idx] = one[0] + "."
        print(name_list[idx], end=" ")
print(name_list)

Alice Betty Catherine Davis
Alice B. C. Davis
['Alice', 'B.', 'C.', 'Davis']

In [41]:
# 강사님 답안
name = input()
names = name.split()

for i in range(1, len(names)-1):
    print(names[i])
    names[i] = names[i][0] + "."

print(' '.join(names))

Alice Betty Catherine Davis
Betty
Catherine
Alice B. C. Davis

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         4 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 
```

In [48]:
year = int(input('달력 연도: '))
pos = datetime.datetime(year, 1, 1).weekday()
week_pos = pos
for mon in range(1, 13):
    pos = pos % 7
    week_pos = pos
    print(" "*9 + str(mon) + " 월")
    print("Mo Tu We Th Fr Sa Su")
    print(" "*3*pos, end="")
    for day in range(1, 32):
        if mon in [4, 6, 9, 11] and day == 31:
            continue
        if year%4 != 0 and mon == 2 and day in [29, 30, 31]:
            continue
        elif year%4 == 0 and mon == 2 and day in [30, 31]:
            continue
        if day % 7 != (7 - week_pos)%7:
            pos += 1
            print("{:2d}".format(day), end=" ")
        else:
            pos += 1
            print("{:2d}".format(day))
    print("\n")

달력 연도: 1992
         1 월
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

         2 월
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

         3 월
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

         4 월
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

         5 월
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31


         6 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

         7 월
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

         8 월
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

         9 월
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

         10 월
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

         11 월
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

         12 월
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [42]:
# 날짜 보는법 참고
import datetime
print(datetime.datetime.today())
print(datetime.datetime(2019, 1, 1).weekday())
datetime.datetime.today().weekday()

2019-01-07 17:12:07.398396
1

0